@import "./fonts";

body {
  font-family: MyFontFamily, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}
button {
  background-color: #00BCD4;
  color: #fff;
  border: none;
  width: 100px;
  height: 100px;
}
.suppadog {
  overflow: auto;
  white-space: nowrap;
  font-size: 2rem;
}
